::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: var(--radius-lg-plus);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--border-light);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
}
